In [5]:
pip install tqdm

Collecting tqdm
  Downloading https://files.pythonhosted.org/packages/bd/cf/f91813073e4135c1183cadf968256764a6fe4e35c351d596d527c0540461/tqdm-4.50.2-py2.py3-none-any.whl (70kB)
Installing collected packages: tqdm
Successfully installed tqdm-4.50.2
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 19.2.3, however version 20.2.4 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [6]:
from tqdm import tqdm

In [7]:
import requests
from bs4 import BeautifulSoup as bs
import numpy as np # numpy 도 함께 import
import pandas as pd
from IPython.display import display
result=[]
for page in tqdm(range(1, 31)):
    url = 'https://finance.naver.com/sise/sise_market_sum.nhn?&page='
    res = requests.get(url+str(page))
    html = res.text

    soup = bs(html, 'html.parser')
    table = soup.find_all(attrs={'class' : 'type_2'})

    title = soup.find_all('th')
    title= [x.text for x in title]

    summary = soup.find_all('tr')
    for index in range(7, 87):
        content = summary[index].find_all('td')
        a = [x.text.replace("\n","").replace("\t","") for x in content]
        if a== ['']:
            p=0
        else:
            result.append(a)
#df = pd.DataFrame(result, columns = title)
#df

100%|███████████████████████████████████████████████████████| 30/30 [00:07<00:00,  4.18it/s]

In [8]:
df = pd.DataFrame(result, columns = title)
df

,N,종목명,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE,토론실
0,1,삼성전자,"60,200",100,+0.17%,100,"3,593,809","5,969,783",56.16,"6,467,714",18.84,8.69,
1,2,SK하이닉스,"84,500","1,200",+1.44%,"5,000","615,162","728,002",48.81,"2,300,840",26.91,4.25,
2,3,NAVER,"287,500","5,500",-1.88%,100,"472,257","164,263",55.74,"373,068",67.02,10.56,
3,4,LG화학,"647,000","8,000",+1.25%,"5,000","456,732","70,592",38.46,"350,425",111.53,1.84,
4,5,삼성전자우,"53,600",100,+0.19%,100,"441,067","822,887",86.68,"1,068,897",16.77,N/A,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,1496,TIGER MSCI KOREA ESG유니버설,"9,440",30,+0.32%,0,54,570,0.00,181,N/A,N/A,
1496,1497,KOSEF 200선물인버스,"6,955",45,-0.64%,0,54,770,6.69,917,N/A,N/A,
1497,1498,KBSTAR 200고배당커버드콜ATM,"7,640",30,+0.39%,0,53,700,0.00,4,N/A,N/A,
1498,1499,KODEX China H선물인버스(H),"10,635",40,-0.37%,0,53,500,0.00,226,N/A,N/A,
1499,1500,KODEX 밸류Plus,"7,590",5,-0.07%,0,53,700,0.00,"55,843",N/A,N/A,

In [9]:
df["거래량숫자"] = [int(x.replace(",", "")) for x in df["거래량"]]

In [12]:
df

,N,종목명,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE,토론실,거래량숫자
0,1,삼성전자,"60,200",100,+0.17%,100,"3,593,809","5,969,783",56.16,"6,467,714",18.84,8.69,,6467714
1,2,SK하이닉스,"84,500","1,200",+1.44%,"5,000","615,162","728,002",48.81,"2,300,840",26.91,4.25,,2300840
2,3,NAVER,"287,500","5,500",-1.88%,100,"472,257","164,263",55.74,"373,068",67.02,10.56,,373068
3,4,LG화학,"647,000","8,000",+1.25%,"5,000","456,732","70,592",38.46,"350,425",111.53,1.84,,350425
4,5,삼성전자우,"53,600",100,+0.19%,100,"441,067","822,887",86.68,"1,068,897",16.77,N/A,,1068897
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,1496,TIGER MSCI KOREA ESG유니버설,"9,440",30,+0.32%,0,54,570,0.00,181,N/A,N/A,,181
1496,1497,KOSEF 200선물인버스,"6,955",45,-0.64%,0,54,770,6.69,917,N/A,N/A,,917
1497,1498,KBSTAR 200고배당커버드콜ATM,"7,640",30,+0.39%,0,53,700,0.00,4,N/A,N/A,,4
1498,1499,KODEX China H선물인버스(H),"10,635",40,-0.37%,0,53,500,0.00,226,N/A,N/A,,226
1499,1500,KODEX 밸류Plus,"7,590",5,-0.07%,0,53,700,0.00,"55,843",N/A,N/A,,55843